body {
    background-color: black;
    background: url('../media/stars_3.jpg');
    background-size: cover;
    overflow: hidden;

}

div .jumbotron {
    background: transparent;
    color: white;
}


#earth {
    margin-right: 60px;
    height: 80%;
    width: 80%;
    position: relative;
}


#saturn {
    margin-right: 60px;
    height: 80%;
    width: 80%;
    position: relative;
}


#galaxy {
    /*margin-top: ;*/
    margin-right: 60px;
    height: 50%;
    width: 50%;
    position: relative;
}

#moon {
    margin-right: 60px;
    height: 80%;
    width: 80%;
    position: relative;
}

#venus {
    margin-right: 60px;
    margin-top: 10px;
    height: 50%;
    width: 50%;
    position: relative;
}

#neptune {
    margin-right: 60px;
    margin-top: -20px;
    height: 90%;
    width: 90%;
    position: relative;
}

#sun {
    margin-right: 60px;
    margin-top: -180px;
    height: 140%;
    width: 140%;
    position: relative;
}

#jupiter {
    margin-right: 60px;
    margin-top: -30px;
    height: 130%;
    width: 130%;
    position: relative;
}

#img-container {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.box {
    position: absolute;
    left: 150%;
    top: 60px;
    /*display: inherit;*/
    margin-left: -35%;
}

#box1 {
    left: 50%;
}

#box2 {

}

#box3 {

}

#box4 {

}

#box5 {

}